.footer {
  height: 5vh;
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  /* align-items: left; */
  text-align: right;
  gap: 1px;
  margin-top: -20px;
  margin-bottom: 15px;
  padding: 0% 10%;
}

.footer p {
  margin: 0;
  color: #ffffff5a;
  font-size: .5vw;
}

.footer a {
  color: #ffffffae;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-top: 20px;
  }
  .footer p {
    z-index: 3;
    font-size: 2vw;
  }
}
